<app-heroswiper />
<h2>ЗВ'ЯЗАТИСЯ:</h2>
<div class="quickaccess">
    <div>
        <a href="tel:%2B380935378674" target="_blank">
            <img class="icon" src="phone.svg" alt="phonecall">
        </a>
    </div>
    <div>
        <a href="https://www.instagram.com/aounicase/" target="_blank">
            <img class="icon" src="instagram.svg" alt="instagram">
        </a>
    </div>
    <div>
        <a href="https://t.me/%2B380935378674" target="_blank">
            <img class="icon" src="telegram.svg" alt="telegram">
        </a>
    </div>
    <div class="vibermob">
        <a href="viber://add?number=%2B380935378674" target="_blank">
            <img class="icon" src="viber.svg" alt="viber">
        </a>
    </div>
    <div class="viberdesk">
        <a href="viber://chat?number=%2B380935378674" target="_blank">
            <img class="icon" src="viber.svg" alt="viber">
        </a>
    </div>
    <div>
        <a href="https://www.tiktok.com/@unicase_" target="_blank">
            <img class="icon" src="tiktok.svg" alt="tiktok">
        </a>
    </div>
</div>
<H2>ОТРИМАЙТЕ ПРАВОВУ ДОПОМОГУ:</H2>
<div class="cardscontainer">
    <div class="card"><mat-icon fontIcon="military_tech" />
        <H3>ВІЙСЬКОВЕ ПРАВО</H3>
        <p>оформлення відстрочок, підготовка військових процесуальних документів, вирішення спорів, захист в суді</p>
    </div>
    <div class="card"><mat-icon fontIcon="handshake" />
        <H3>ЦИВІЛЬНЕ ПРАВО<br>ТА ПРОЦЕС</H3>
        <p>вирішення спорів, укладення договорів тощо</p>
    </div>
    <div class="card"><mat-icon fontIcon="fact_check" />
        <H3>ГОСПОДАРСЬКЕ ПРАВО<br>ТА ПРОЦЕС</H3>
        <p>супровід господарської діяльності, вирішення спорів, процесуальна документація</p>
    </div>
    <div class="card"><mat-icon fontIcon="diversity_1" />
        <H3>СІМЕЙНЕ ПРАВО</H3>
        <p>процес розлучення, призначення аліментів, укладення договорів, шлюбного контракту</p>
    </div>

    <div class="card"><mat-icon fontIcon="gavel" />
        <H3>КРИМІНАЛЬНЕ ПРАВО<br>ТА ПРОЦЕС</H3>
        <p>супровід на слідчих розшукових діях, захист у суді, формування лінії захисту</p>
    </div>
    <div class="card"><mat-icon fontIcon="how_to_reg" />
        <H3>ВИБОРЧЕ ПРАВО</H3>
        <p>супровід виборчої компанії, формування стратегії</p>
    </div>
    <div class="card"><mat-icon fontIcon="balance" />
        <H3>АДМІНІСТРАТИВНЕ ПРАВО<br>ТА ПРОЦЕС</H3>
        <p>захист осіб, які притягаються до адміністративної відповідальності, вирішення спорів з органами публічної,
            державної
            влади, стягнення коштів з державного бюджету</p>
    </div>

</div>
<br>
<div class="phoneandmail">
    <div>
        <h2>ТЕЛЕФОНУЙТЕ</h2>
        <div class="flex contactlink">
            <a href="tel:%2B380935378674"><mat-icon fontIcon="call" />+38 (093) 537 86 74</a>
        </div>
        <div class="flex contactlink">
            <a href="tel:%2B380679981718"><mat-icon fontIcon="call" />+38 (067) 998 17 18</a>
        </div>
        <div class="flex contactlink">
            <a href="tel:%2B380673239927"><mat-icon fontIcon="call" />+38 (067) 323 99 27</a>
        </div>
    </div>
    <div>
        <h2>АБО НАПИШІТЬ НАМ</h2>
        <div class="flex contactlink">
            <a href="mailto:aounicase@gmail.com"><mat-icon fontIcon="mail" />на електронну пошту</a>
        </div>
    </div>
</div>

<br>
<h2>ПРО АО "ЮНІКЕЙС"</h2>
<div class="prounicase">
    <img class="prounicasepic" src="pronas.webp" alt="unicase">
    <article>
        <a class="articlelink" routerLink="/ourteam"><strong>Наші експерти – </strong></a>володіють глибокими
        теоретичними заннями та практичним досвідом у багатьох галузях
        юриспруденції.<br>Ми ретельно аналізуємо кожну справу, надаючи індивідуальний підхід до кожного клієнта, щоб
        забезпечити найкращий можливий результат. Це дозволяє нам розробити найбільш ефективну стратегію для вирішення
        питань наших клієнтів.<br><a class="articlelink" routerLink="/cases"><strong>Наша мета – </strong></a>не просто
        вирішувати ваші правові проблеми, але і
        забезпечувати
        вам відчуття спокою та впевненості в майбутньому.
    </article>
</div>
<H2>ЯК НАС ЗНАЙТИ?</H2>
<div class="flex contactlink"><a href="https://maps.app.goo.gl/Ws6oGK58aTAd3RXn6"><mat-icon fontIcon="location_on" />м.
        Київ, проспект Берестейський, 93</a></div>
<br>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1940224695873!2d30.378006088744385!3d50.456111598348635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd7fded78d39%3A0x225e02813505374e!2z0K7QvdGW0LrQtdC50YE!5e0!3m2!1sen!2sua!4v1716126277381!5m2!1sen!2sua"
    style="border:0.5rem solid #FFD600" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<hr>
<div class="buttonwrapper">
    <button class="button" routerLink="/home" ariaCurrentWhenActive="page">Повернутися наверх</button>
</div>