<article>
    <H2>Політика конфіденційності</H2>
    <p>
        На сайті АО "Юнікейс", доступному за адресою http://aounicase.com.ua/, одним з головних пріоритетів є
        конфіденційність наших користувачів. Цей документ містить типи інформації, яку збирає і реєструє майданчик
        aounicase.com.ua, а також способи її використання.
        <br>
        <br>
        Повідомте нам, якщо у Вас є додаткові питання або Вам потрібна додаткова інформація про нашу Політику
        конфіденційності. Ця Політика конфіденційності стосується лише нашої онлайн-діяльності і дійсна для відвідувачів
        нашого веб-сайту щодо інформації, якою вони поділилися і/або збирають на сайті АО "Юнікейс". Ця політика
        конфіденційності не поширюється на будь-яку інформацію, зібрану в автономному режимі або по інших каналах, крім
        цього веб-сайту.
    </p>

    <h3>​Згода</h3>
    <p>​Користуючись нашим Веб-сайт, Ви погоджуєтеся з нашою Політикою конфіденційності та приймаєте її умови.</p>

    <h3>​Інформація, яку ми збираємо</h3>
    <p>Особиста інформація, яку Вас просять надати, і причини, чому Вас просять її надати, будуть повністю зрозумілі Вам
        в
        той момент, коли ми попросимо Вас надати її. Якщо Ви зв’яжетеся з нами напряму, ми зможемо отримати додаткову
        інформацію про Вас, таку як Ваше ім’я, адреса електронної пошти, номер телефону, зміст повідомлення та / або
        вкладень, які Ви можете надіслати нам, а також будь-яку іншу інформацію, яку Ви можете надати.</p>
    <h3>Як ми використовуємо Вашу інформацію</h3>
    <ul>Ми використовуємо зібрану інформацію різними способами з метою:</ul>
    <li>Надання, використання та обслуговування нашого Веб-сайту;</li>
    <li>Покращення, персоналізації та розширення нашого Веб-сайту;</li>
    <li>Зрозуміти і проаналізувати, яким чином Ви використовуєте наш Веб-сайт;</li>
    <li>Розробки нових продуктів, послуг, функцій і функціональних можливостей;</li>
    <li>Прямого зв’язку з Вами або зв’язку через одного з наших партнерів, в тому числі для обслуговування клієнтів, щоб
        надати Вам оновлення та іншу інформацію, що відноситься до веб-сайту, а також в маркетингових і рекламних цілях;
    </li>
    <li>Надсилати Вам електронні листи;</li>
    <li>Знайти і запобігти шахрайству.</li>

    <h3>Лог-файли</h3>
    <p>
        Портал aounicase.com.ua дотримується стандартної процедури використання файлів-журналів. Ці файли реєструють
        користувачів, коли вони відвідують веб-сайт. Всі хостингові компанії роблять це з метою аналітики хостингових
        послуг. Інформація, зібрана за допомогою файлів журналу, включає адреси Інтернет-протоколу(IP), тип браузера,
        постачальника послуг інтернету (ISP), позначку дати і часу, сторінки переходу / виходу і, можливо, кількість
        кліків.
        Вони не пов’язані з будь-якою інформацією, що дозволяє встановити особу. Метою збору цієї інформації є аналіз
        тенденцій, адміністрування сайту, відстеження руху користувачів на сайті та збір демографічної інформації.</p>

    <h3>Файли cookie та веб-маяки</h3>
    <p>Як і будь-який інший веб-сайт, aounicase.com.ua використовує файли cookie для зберігання інформації, включаючи
        уподобання
        відвідувачів, а також сторінки на веб-сайті, які користувач відвідував. Ці дані використовуються для оптимізації
        роботи
        користувачів шляхом налаштування наповнення нашої веб-сторінки на основі типу браузера відвідувачів та / або
        іншої
        інформації.
        Ви можете відключити cookie-файли в налаштуваннях Вашого браузера. Для отримання більш детальної інформації про
        управління файлами cookie за допомогою конкретних веб-браузерів відвідайте відповідні веб-сайти браузерів.</p>
    <h3>Дитяча інформація</h3>
    <p>Ми закликаємо батьків
        і опікунів спостерігати, брати участь і / або відстежувати і направляти їх діяльність в Інтернеті. АО "Юнікейс"
        свідомо не
        збирає будь-яку особисту інформацію про дітей у віці до 13 років. Якщо Ви вважаєте, що Ваша дитина надала таку
        інформацію на нашому веб-сайті, ми настійно рекомендуємо Вам негайно зв’язатися з нами, і ми зробимо все
        можливе,
        щоб оперативно видалити подібну інформацію з наших записів.</p>

    <h3>Закон України "Про захист персональних даних"</h3>
    <p>Надання доступу до особистої інформації іншим компаніям і приватним особам можливе лише за таких наступних
        обставин:
        Має місце наявність дозволу Користувача. Для передачі будь-якої конфіденційної інформації потрібна явна згода
        Користувача.
        В випадках визначених чинним законодавством України, а також у випадках запобігання злочину або завдання шкоди
        нам
        або
        третім особам.</p>
    <h3>"Положення про технічний захист інформації в Україні"</h3>
    <p>Ми вживаємо всіх необхідних заходів для захисту даних від несанкціонованого доступу, зміни, розкриття чи
        знищення. До
        цих заходів належать, зокрема, внутрішня перевірка процесів збору, зберігання та обробки даних і заходів
        безпеки,
        включаючи відповідне шифрування і заходи щодо забезпечення фізичної безпеки даних для запобігання
        неавторизованого
        доступу до систем, в яких ми зберігаємо особисті дані.</p>
    <h3>Зміна політики конфіденційності.</h3>
    <p>Користувач приймає умови цієї політики конфіденційності і враховує, що дана політика конфіденційності може час
        від
        часу змінюватися. Зміни, що вносяться до політики конфіденційності, публікуються на цій сторінці.
        З питань щодо політики конфіденційності (в т.ч. видалення персональних даних), Користувач може зв'язатися з нами
        використовуючи <a href="mailto:aounicase@gmail.com">це e-mail посилання</a></p>
</article>
<div class="buttonwrapper">
    <button class="button" routerLink="/home" ariaCurrentWhenActive="page">Повернутися на головну сторінку</button>
</div>