<mat-icon fontIcon="groups"></mat-icon>
<h2>НАША КОМАНДА</h2>
<hr />
<div class="photo_and_descr">
    <img class="photo" src="Olga_Musienko.webp" alt="Olga Musienko">
    <div class="description">
        <h3>Мусієнко<br />Ольга Вікторівна</h3>
        <h4>Старший партнер<br />Адвокат</h4>
        <h5>Освіта вища юридична, спеціальність правознавство; вища економічна, спеціальність економіка підприємства.
            Досвід юридичної роботи у державних та приватних структурах складає понад 10 років. Спеціалізується на
            адміністративних та цивільних відносинах, є фахівцем із вирішення господарських спорів та з питань захисту
            бізнесу. Адвокатська практика з 2018 року.</h5>
    </div>
</div>
<hr />
<div class="photo_and_descr_rev">
    <img class="photo" src="Olexii_Strashnyi.webp" alt="Olexii Strashnyi">
    <div class="description">
        <h3>Страшний<br />Олексій Олександрович</h3>
        <h4>Керуючий партнер<br />Адвокат</h4>
        <h5>Освіта вища юридична, спеціальність правознавство. Спеціалізується на цивільних правовідносинах, виборчому
            праві та процесі. Є консультантом депутата Київської міської ради з юридичних питань. Діяльність у сфері
            права становить більше 10 років. Має позитивний досвід роботи з правоохоронними органами та органами
            державної виконавчої служби в інтересах клієнтів. В 2018 році отримав свідоцтво на право зайняття
            адвокатською діяльністю. Веде активну громадську діяльність.</h5>
    </div>
</div>
<hr />
<div class="photo_and_descr">
    <img class="photo" src="Alina_Svyrydenko.webp" alt="Alina Svyrydenko">
    <div class="description">
        <h3>Свириденко<br />Аліна Олександрівна</h3>
        <h4>Помічник адвоката</h4>
        <h5>З відзнакою закінчила Інститут права Київського національного університету імені Тараса Шевченка за
            спеціалізацією - кримінальне судочинство. Активно просуває знання права в соцмережах та здійснює публікації
            статей у профільних виданнях на актуальну тематику. Регулярно підвищує свій рівень знань зокрема на базі V
            Школи адвокатури та адвокації від Ліги студентів АПУ та Кримінально-правового форуму «Золотий Дюк» від
            Асоціації адвокатів України.</h5>
    </div>
</div>
<hr />
<div class="buttonwrapper">
    <button class="button" routerLink="/home" ariaCurrentWhenActive="page">Повернутися на головну сторінку</button>
</div>