<mat-icon fontIcon="gavel" />
<H2>ЯК ВІДБУВАЄТЬСЯ НАША РОБОТА</H2>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                1. Консультація
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Ми ретельно аналізуємо всю інформацію, щоб надати Вам об'єктивну юридичну оцінку та рекомендації.</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2. Розробка стратегії
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>На основі отриманих від Вас даних ми розробляємо індивідуальну стратегію, спрямовану на досягнення Ваших
            цілей. Ми
            враховуємо всі можливі варіанти та ризики.</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                3. Збір та подання документів
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Наші досвідчені юристи виконають роботу відповідно до розробленої стратегії.</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                4. Контроль справи
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Систематичне відстеження та оновлення щодо ходу справи. Наш юрист забезпечує постійний моніторинг справи,
            веде
            документацію та виконує необхідні кроки для досягнення поставленої мети.</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                5. Підтримка
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Протягом усього процесу ми підтримуємо постійний контакт з Вами, надаємо звіти та консультації з усіх питань,
            пов'язаних
            із Вашою справою.</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                6. Результат
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Наша мета - досягнення успішного результату для кожного клієнта.</p>
    </mat-expansion-panel>
</mat-accordion>

<h2>ОТРИМАЙТЕ ЮРИДИЧНУ ДОПОМОГУ</h2>
<div class="cardscontainer">
    <div class="card"><mat-icon fontIcon="military_tech" />
        <H3>ВІЙСЬКОВЕ ПРАВО</H3>
        <p>оформлення відстрочок, підготовка військових процесуальних документів, вирішення спорів, захист в суді</p>
    </div>
    <div class="card"><mat-icon fontIcon="handshake" />
        <H3>ЦИВІЛЬНЕ ПРАВО<br>ТА ПРОЦЕС</H3>
        <p>вирішення спорів, укладення договорів тощо</p>
    </div>
    <div class="card"><mat-icon fontIcon="fact_check" />
        <H3>ГОСПОДАРСЬКЕ ПРАВО<br>ТА ПРОЦЕС</H3>
        <p>супровід господарської діяльності, вирішення спорів, процесуальна документація</p>
    </div>
    <div class="card"><mat-icon fontIcon="diversity_1" />
        <H3>СІМЕЙНЕ ПРАВО</H3>
        <p>процес розлучення, призначення аліментів, укладення договорів, шлюбного контракту</p>
    </div>

    <div class="card"><mat-icon fontIcon="gavel" />
        <H3>КРИМІНАЛЬНЕ ПРАВО<br>ТА ПРОЦЕС</H3>
        <p>супровід на слідчих розшукових діях, захист у суді, формування лінії захисту</p>
    </div>
    <div class="card"><mat-icon fontIcon="how_to_reg" />
        <H3>ВИБОРЧЕ ПРАВО</H3>
        <p>супровід виборчої компанії, формування стратегії</p>
    </div>
    <div class="card"><mat-icon fontIcon="balance" />
        <H3>АДМІНІСТРАТИВНЕ ПРАВО<br>ТА ПРОЦЕС</H3>
        <p>захист осіб, які притягаються до адміністративної відповідальності, вирішення спорів з органами публічної,
            державної
            влади, стягнення коштів з державного бюджету</p>
    </div>
</div>
<br>
<hr>
<div class="buttonwrapper">
    <button class="button" routerLink="/home" ariaCurrentWhenActive="page">Повернутися на головну сторінку</button>
</div>